.page{
    height: 100vh;
    width: 100vw;
}

.background{
    background-color: #f6e6f7;
    opacity: 0.8;
    background-image:  radial-gradient(#e145f7 0.35000000000000003px, transparent 0.35000000000000003px), radial-gradient(#e145f7 0.35000000000000003px, #f6e6f7 0.35000000000000003px);
    background-size: 14px 14px;
    background-position: 0 0,7px 7px;  
    position: absolute;  
}

.navbarMenu{
    height: 20%;
    width: 100%;
}

.contentMenu{
    height: 80%;
    width: 100%;
}


.sidebar{
    height: 80%;
    width: 18%;
    position: fixed;
    float: left;
}

.productsDisplay{
   width: 80%;
   float: right;

   display: flex ;
   justify-content: space-around;
   flex-wrap: wrap;
   /*gap: 10px 20px;*/
   gap: 30px;

}

.SidebarList{
    height: 100%;
    padding-top: 20%;
    width: 100%;
    
}

.SidebarList .row {
    height:30px;
    padding-bottom: 2px;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Dancing Script;
    color: black;
}

.row:hover{
    color: #2e2e2e;
    cursor: pointer;
    background-color: #f7d2f4;
}

.mesaj{
    font-family: Dancing Script;
    margin-top: 15%;
}