   
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding-top: 6px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }